<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none">
    <ion-label>
      Pull down to refresh
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      Pull second down to refresh, but it doesn't work
    </ion-label>
  </ion-item>

    
  </ion-content>
